<div class="footer">
  <div class="row">
    <!-- <div class="col-xs-1">
    </div> -->
    <div class="col-xs-3">
      <h4 style="padding-top:10px;" class="heading">REAL ESTATE IN INDIA</h4>
      <div class="row">
        <div class="col-md-6">
          <ul style="list-style-type:none">
            <li><a href="#">Delhi/NCR</a></li>
            <li><a href="#">Mumbai</a></li>
            <li><a href="#">Bangalore</a></li>
            <li><a href="#">Chennai</a></li>
            <li><a href="#">Mumbai</a></li>
            <li><a href="#">Hyderabad</a></li>
            <li><a href="#">Kolkata</a></li>
            <li><a href="#">Ahmedabad</a></li>
            <li><a href="#">Chandigarh</a></li>
            <li><a href="#">Nagpur</a></li>
            <li><a href="#">Bhubaneswar</a></li>
            <li><a href="#">Chennai</a></li>
            <li><a href="#">Coimbatore</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul style="list-style-type:none">
            <li><a href="#">Coimbatore</a></li>
            <li><a href="#">Bhubaneswar</a></li>
            <li><a href="#">Varanasi</a></li>
            <li><a href="#">Visakhapatnam</a></li>
            <li><a href="#">Bhopal</a></li>
            <li><a href="#">Nasik</a></li>
            <li><a href="#">Patna</a></li>
            <li><a href="#">Dehradun</a></li>
            <li><a href="#">Surat</a></li>
            <li><a href="#">Lucknow</a></li>
            <li><a href="#">Kerala</a></li>
            <li><a href="#">Indore</a></li>
            <li><a href="#">Goa</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <h3 class="heading">99acres </h3>
      <h5 class="heading">LINKS</h5>
      <ul style="list-style-type:none;" class="links">
        <li><a href="#">Mobile Apps</a></li>
        <li><a href="#">National Home</a></li>
        <li><a href="#" style="margin-left:-5px">Commercial-Property</a></li>
        <li><a href="#">Residential Property</a></li>
        <li><a href="#">Price Trends</a></li>
        <li><a href="#">NRI Services</a></li>
        <li><a href="#">New Projects</a></li>
        <li><a href="#" style="margin-left:-5px">Advertise property</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Get Alerts</a></li>
        <li><a href="#">Builders in India</a></li>
        <li><a href="#">Articles</a></li>
      </ul>
    </div>
    <div class="col-xs-2">
      <h4 class="heading">Company</h4>
      <ul style="list-style-type:none;">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">with Us</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Report a problem</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#"> Summons/Notices</a></li>
        <li><a href="#">Grievances</a></li>
        <li><a href="#">Safety</a></li>
        <li><a href="#">Guide</a></li>
      </ul>
    </div>
    <div class="col-xs-2">
      <h4 class="heading">Our Partners</h4>
      <ul style="list-style-type:none" class="partners">
        <li><a href="#">Naukri.com -jobs in india</a></li>
        <li><a href="#">Naukari-Gluf.com-jobs in middle East</a></li>
        <li><a href="#">Jevanasathi.com-Matrimonials</a></li>
        <li><a href="#">brijj.com Professional Networking</a></li>
        <li><a href="#">Shiksha.com Educational carrer info</a></li>
        <li><a href="#">Policybazar.com </a><span style="font-size:8px;">Incureance india</span></li>
        <li><a href="#">Meritnaion.com Online educational assestment</a></li>
      </ul>
    </div>
    <div class="col-xs-3">
      <h4 class="heading">Contact Us</h4>
      <span>Toll Free <span class="heading1">1800 41 99099</span>
          Monday - Saturday (9:00AM to 6:00PM IST</span>
          <p>Email: feedback@99acres.com</p>
    </div>
  </div>
</div>