<div class="bg" style="background-color:black">
  <div class="notify" >
    <div class="row conetent">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <div class="input-group" >
              <span class="input-group-addon" style="background-color:rgb(17, 116, 182);color: white">Email</span>
              <input type="text" class="form-control" placeholder="example@email.com">
              <div class="input-group-btn" style="background-color:rgb(17, 116, 182);color:black">
                <button class="btn btn-primary">Subscrib</button></div>
          </div>
          <h4 style="color:white;text-align: center">Subscribe to get Notifications</h4>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div> 
</div>