<div class="continer-fluid">
  <div class="template">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <h4>EXPLORE REAL ESTATE IN INDIA</h4>
        <h5><input type="checkbox"><label>Delhi/Ncr</label></h5>
        <h5> <input type="checkbox"><label>Hyderabad</label></h5>
        <h5> <input type="checkbox"><label>Pune</label></h5>
      </div>
      <div class="col-md-2">
        <h4>Property Type</h4>
        <h5><input type="checkbox"><label>Comertial Shop</label></h5>
        <h5> <input type="checkbox"><label>comertial Office /Space</label></h5>
      </div>
      <div class="col-md-2">
        <h4>Construction Status</h4>
        <h5><input type="checkbox"><label>Under Construction</label></h5>
        <h5> <input type="checkbox"><label>New lunch</label></h5>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>