<div class="header-body">
  <nav class="navbar navbar-invers">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand active" href="#" style="color:white;float:left;font-size: 25px">99Acres</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">NRI HOMES <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="col-sm-8">
                  <h3 style="padding:5px">National</h3>
                  <div class="row">
                    <div class="col-sm-3">
                      <ul class="multi-column-dropdown">
                        <li><a href="#">All India</a></li>
                        <li><a href="#">Aurangabad</a></li>
                        <li><a href="#">Jabalpur</a></li>
                        <li><a href="#">Gwalior</a></li>
                        <li><a href="#">Jodhpur</a></li>
                        <li><a href="#">Udaipur</a></li>
                        <li><a href="#">Jalandhar</a></li>
                        <li><a href="#">Amritsar</a></li>
                        <li><a href="#">Ludhiana</a></li>
                        <li><a href="#">Agra</a></li>
                        <li><a href="#">Pondicherry</a></li>
                        <li><a href="#">Allahabad</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <ul class="multi-column-dropdown">
                        <li><a href="#"> Allahabad </a></li>
                        <li><a href="#"> Hubli </a></li>
                        <li><a href="#"> Madurai </a></li>
                        <li><a href="#"> Gwalior </a></li>
                        <li><a href="#"> Trichy </a></li>
                        <li><a href="#"> Rajkot </a></li>
                        <li><a href="#"> Vapi </a></li>
                        <li><a href="#"> Mangalore </a></li>
                        <li><a href="#"> Raipur </a></li>
                        <li><a href="#"> Ranchi </a></li>
                        <li><a href="#"> Mysore </a></li>
                        <li><a href="#"> Vijayawada </a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <ul class="multi-column-dropdown">
                        <li><a href="#"> Varanasi </a></li>
                        <li><a href="#"> Kanpur </a></li>
                        <li><a href="#"> Visakhapatnam </a></li>
                        <li><a href="#"> Bhopal </a></li>
                        <li><a href="#"> Nasik </a></li>
                        <li><a href="#"> Patna </a></li>
                        <li><a href="#"> Dehradun </a></li>
                        <li><a href="#"> Vadodara </a></li>
                        <li><a href="#"> Surat </a></li>
                        <li><a href="#"> Lucknow </a></li>
                        <li><a href="#"> Kerala </a></li>
                        <li><a href="#"> Indore </a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <ul class="multi-column-dropdown">
                        <li><a href="#"> Goa</a></li>
                        <li><a href="#"> Coimbatore</a></li>
                        <li><a href="#"> Bhubaneswar</a></li>
                        <li><a href="#"> Nagpur</a></li>
                        <li><a href="#"> Jaipur</a></li>
                        <li><a href="#"> Chandigarh</a></li>
                        <li><a href="#"> Hyderabad</a></li>
                        <li><a href="#"> Bangalore</a></li>
                        <li><a href="#"> Mumbai</a></li>
                        <li><a href="#"> Kolkata</a></li>
                        <li><a href="#"> Chennai</a></li>
                        <li><a href="#"> Pune</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="vl"></div>
                </div>
                <div class="col-sm-3">
                  <h3 style="padding:5px">Internatioanl</h3>
                  <ul class="multi-column-dropdown">
                    <li><a href="#">
                        <h4>DUBAI</h4>
                      </a></li>
                    <p>Medil East</p>
                    <li class="divider"></li>
                    <li><a href="#">
                        <h4>Singpore Propertys</h4>
                      </a></li>
                    <p>Home and vilas</p>
                    <li class="divider"></li>
                    <li><a href="#">
                        <h4>NRI HOMES</h4>
                      </a></li>
                    <li class="divider"></li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">CUSTOMER SERVICE</a></li>
          <li><a href="#">SELL / RENT PROPERTY</a></li>
          <li><a href="#">HOME LOANS</a></li>
          <li class="dropdown menuLogin" (click)="openNav()"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="font-size:15px"
                class="glyphicon glyphicon-menu-hamburger"></span><span style="cursor:pointer"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="back-ground">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">

          <div class="input-group searchField" style="padding-top:150px">

            <div class="input-group-btn" style="border-radius: 0px !important">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Property type
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu">
                <li>
                  <div class="checkbox">
                    <label><input type="checkbox" value="">Projects</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox">
                    <label><input type="checkbox" value="">All Residential</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox">
                    <label><input type="checkbox" value="">All Comertial</label>
                  </div>
                </li>
              </ul>
            </div><!-- /btn-group -->

            <input type="text" class="form-control" style="z-index: 0;">
            <div class="input-group-btn">
              <button class="btn btn-info" style="border-radius: 0px !important">Search</button>
            </div>
            <div class="input-group-btn" style="border-radius: 0px !important">
              <button class="btn btn-primary">Map Search</button>
            </div>
          </div><!-- /input-group -->
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</div>

<!--- example of overlay in angular-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6" >
      <img src="../../assets/img/user-profile1.png" style="background-size:cover;height: 100px;width:100px;text-align: center">
      </div>
<div class="col-md-4">
</div>
  </div>
  <ul style="color:black">
    <li><a href="#" routerLink="login">Login</a></li>
    <li><a href="#" routerLink="register">Register</a></li>
    <li><a href="">Buy Our Services</a></li>
    <li><a href="">Customer Service</a></li>      
    <li><a href="">Builders in India</a></li>      
    <li><a href="">Buy Our Services</a></li>      

  </ul>
</div>


<!-- <span style="font-size:30px;cursor:pointer">&#9776; open</span> -->
<!----- finish overlay-->
<app-feauterpropertys></app-feauterpropertys>
<app-enquiry></app-enquiry>
<app-template></app-template>
<app-gallery></app-gallery>

<app-getnotification></app-getnotification>
<app-footer></app-footer>
