<div class="">
  <h4 class="heading" >Property Data Enter</h4>
  <form class="form-horizontal" #myForm="ngForm" (ngSubmit)="PostAddData(myForm.value)">
  <div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label col-sm-4">Name:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="email" name="name" ngModel placeholder="Enter Name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="pwd">Contact Number:</label>
            <div class="col-sm-8"> 
              <input type="text" class="form-control" id="pwd" name="contact" ngModel placeholder="Enter Contact">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" >Photo:</label>
            <div class="col-sm-8"> 
              <input type="file" class="form-control" id="pwd" name="photo" (change)="uploadPhoto($event)" placeholder="photo">
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4" for="pwd">Posted By:</label>
              <div class="col-sm-8"> 
                  <select class="form-control" name="postedBy" ngModel>
                    <option>Select</option>
                    <option>Owner</option>
                    <option>Bulder</option>
                    <option>Delear</option>
                  </select>
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4" >property Type :</label>
              <div class="col-sm-8"> 
                  <select class="form-control"  name="propertyType" ngModel>
                    <option  disabled >select</option> 
                    <option selected="true">Residential Appartments</option>
                    <option>Commercial Shoping</option>
                    <option>Comercial Office /Space</option>
                    <option>Independent House / Villa</option>
                    <option>Residential land </option>
                  </select>
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4">Bed Room :</label>
              <div class="col-sm-8"> 
                  <select class="form-control" name="bedRoom" ngModel >
                    <option selected hide disabled>Select</option>
                    <option>1-BHK</option>
                    <option>2-BHK</option>
                    <option>3-BHK</option>
                    <option>4-BHK</option>
                    <option>5-BHK</option>
                    <option>6-BHK</option>
                    <option>6+-BHK</option>
                  </select>
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4">State :</label>
              <div class="col-sm-8"> 
                  <select class="form-control" name="state" ngModel  (change)="firstDropDownChanged($event.target.value)">
                    <option selected >Select</option>
                   <option *ngFor="let s of exampleStates">{{s.state}}</option>
                  </select>
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4">District :</label>
              <div class="col-sm-8"> 
                  <select class="form-control" name="district" ngModel>
                    <option>Select</option>
                    <option *ngFor="let d of districts">{{d}}</option>
                  </select>
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4">Bullding Name:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="email" name="bulldingName" ngModel placeholder="Enter Bulding Name">
              </div>
            </div>
            
          
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label col-sm-4">Area:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="email" name="area" ngModel placeholder="Enter Area">
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4">Street:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="street" ngModel  placeholder="Enter Street">
              </div>
            </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Door No:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="doorNo" ngModel placeholder="Enter Door No">
            </div>
          </div>

          <div class="form-group">
              <label class="control-label col-sm-4">LandMark:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="landMark" ngModel placeholder="Enter LandMark">
              </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Zip:</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" name="zip" ngModel id="email" placeholder="Enter Zip Code">
                </div>
              </div>
    </div>
  </div>
  <div class="form-group" style="text-align:center"> 
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" >Submit</button>
        <button type="reset" class="btn btn-primary">Reset</button>
      </div>
    </div>
  </form>
</div>
